# Data Preprocesssing Notebook

In [ ]:
# Import Required Libraries
import pandas as pd
# df= pd.read_excel('masterfile latest_modified_1.xls')
plants= pd.read_excel('masterfile_latest_new_names_added.xls')
plants.columns[3:9]

insects=pd.read_excel('Insect codes with names.xls')

In [2]:
insects.head()

,ID,Image code1,image code 2,image code 3,image code 4,ORDER,FAMILY,SUBFAMILY,TRIBE,GENUS,SUBGENUS,SPECIES,images and data entered in Access tables?,coll. #,Unnamed: 14,Unnamed: 15
0,Aga,NaN,NaN,NaN,NaN,Hymenoptera,Braconidae,Agathidinae,NaN,Agathis,NaN,sp.,NaN,NaN,NaN,NaN
1,agat,NaN,NaN,NaN,NaN,Hymenoptera,Braconidae,Agathidinae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alcsp,NaN,NaN,NaN,NaN,Coleoptera,Curculionidae,Molytinae,Mecysolobini,Alcidodes,NaN,sp.,NaN,NaN,NaN,NaN
3,Ale,NaN,NaN,NaN,NaN,Hymenoptera,Braconidae,Rogadinae,NaN,Aleiodes,NaN,sp.,NaN,NaN,NaN,NaN
4,alti,NaN,NaN,NaN,NaN,Coleoptera,Chrysomelidae,Alticiniae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(f"{insects.shape[0]} insect records")

595 insect records

# Processing original master file with plants records

In [4]:
#data columns
plants.head()

,old Plant family,new,cf?,new Plant family,Plant species with new names merged,Lepidoptera,Lep species,lep species codes,Plant species old name,Plant species with new names merged.1,...,Minimum altitude,Maximum altitude,K sector,UKWF area,leaf type,compound leaf type,leaf(let) margin,leaf arrangement,Region collected,fruiting months
0,Malvaceae,NaN,NaN,Malvaceae,Abutilon hirtum (Lam.) Sweet,NaN,NaN,NaN,Abutilon hirtum (Lam.) Sweet,Abutilon hirtum (Lam.) Sweet,...,1.0,1350.0,"1,2,3,4,6,7",NaN,simple,NaN,"crenate,serrate",alternate,nomi,1
1,Malvaceae,NaN,NaN,Malvaceae,Abutilon mauritianum (Jacq.) Medic. sensu lato,1.0,NaN,t,Abutilon mauritianum (Jacq.) Medic. sensu lato,Abutilon mauritianum (Jacq.) Medic. sensu lato,...,1.0,2050.0,"1,3,4,5,7",NaN,simple,NaN,"serrate,crenate",alternate,"cehi,co","8,11"
2,Euphorbiaceae,NaN,NaN,Euphorbiaceae,Acalypha neptunica Müll. Arg.,NaN,NaN,NaN,Acalypha neptunica Müll. Arg.,Acalypha neptunica Müll. Arg.,...,1.0,1800.0,"3,4,5,6,7",NaN,simple,NaN,serrate,alternate,co,7
3,Acanthaceae,2,NaN,Acanthaceae,Acanthopale pubescens (Engl.) C.B. Clarke,1.0,Cosmetra taitana,TCos_taita,Acanthopale pubescens (Engl.) C.B.Cl.,Acanthopale pubescens (Engl.) C.B. Clarke,...,1550.0,2700.0,"1,3,4,5,6,7",NaN,simple,NaN,entire,opposite,cohi,8
4,Acanthaceae,NaN,NaN,Acanthaceae,Acanthus eminens C. B. Clarke,1.0,Endothenia ator,TEndoth_ator,Acanthus eminens C. B. Clarke,Acanthus eminens C. B. Clarke,...,1500.0,2650.0,"2,3,4,5,6",NaN,simple,NaN,spiny,opposite,wehi,2

In [5]:
# number of insectsand plants
print(f"{insects.shape[0]} insect records")
#print(f"{plants.shape[0]} plant records")

595 insect records

In [6]:
# df2[['Lep species','Coleoptera species codes','Hymenoptera non-opiine codes','Hymenoptera opiine codes','Tephritid species codes','non-tephritid Diptera species codes']]

In [7]:
#check plant families
plants.head()
families=list(plants['new Plant family'].unique())
len(families)

122

In [8]:
# plant rercords in columns
plants.columns.to_list()

['old Plant family',
 'new',
 'cf?',
 'new Plant family',
 'Plant species with new names merged',
 'Lepidoptera ',
 'Lep species',
 'lep species codes',
 'Plant species old name',
 'Plant species with new names merged.1',
 'Plant species new name',
 'Fruit photo no. 1',
 'Fruit photo no. 2',
 'Fruit photo no. 3',
 'Fruit photo no. 4',
 'Coleoptera species codes',
 'Lepidoptera',
 'lep species codes.1',
 'Hymenoptera opiine codes',
 'Hymenoptera non-opiine codes',
 'non-tephritid Diptera species codes',
 'Tephritid species codes',
 'Fruit type',
 'Fruit color',
 'Fruit shape',
 'fruit less than 10 mm',
 'fruit 10-15 mm',
 'fruit > 15 <25 mm',
 'fruit >25 mm < 40mm',
 'fruit >40mm',
 'spines, thorns, prickles or spiny leaf margins',
 'latex',
 'woody or herbaceous',
 'tree, shrub, climber, creeper, liana, herb,parasite',
 'Minimum altitude',
 'Maximum altitude',
 'K sector',
 'UKWF area',
 'leaf type',
 'compound leaf type',
 'leaf(let) margin',
 'leaf arrangement',
 'Region collected',
 'fruiting months']

# creating SQL tables matching the ER diagram from the plant records
- while creating the tables, we are not adding the id columns manually as we leveraged on the autoincreament index of postgreSQL.

# 1. plant_families Table
INSERT INTO plant_families(id,family_name)
# example of sql statement for the first three plant families
VALUES 
        ('Acanthaceae'),
        
        ('Cornaceae'),
        
        ('Asphodelaceae')
        
    RETURNING *;

In [9]:
len(families)

122

In [10]:
families[0:5]

['Malvaceae', 'Euphorbiaceae', 'Acanthaceae', 'Lamiaceae', 'Apocynaceae']

In [11]:
len(families)+1

123

# Create SQL tables

## 1. plant_families table

In [13]:
with open('plant_families.sql','w') as myfile:
    myfile.write("INSERT INTO plant_families(id,family_name)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(families)):
        if i!=len(families)-1:
            myfile.write("    "+"(" + "'"+families[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("    "+"(" + "'"+families[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

# 2. Plant Genera Table

In [14]:
# Extract genus from species
# New names were the updated names of the pkant specie. This is due to ongoing taxonomic re-naming of some plants species
plants['Plant species with new names merged'].value_counts()[0:5]

Psychotria punctata Vatke                  4
Solanum sp.                                3
Grewia triflora (Bojer) Walp.              2
Cucumis prophetarum L. ssp. prophetarum    2
Pittosporum viridiflorum Sims              2
Name: Plant species with new names merged, dtype: int64

In [15]:
# # Add genus column to the original df
# plants['genus'] = plants['Plant species with new names merged'].apply(lambda x: x.split()[0])
# plants.head()

In [16]:
# drop genus name
col=plants.columns.to_list()
# insert genus at 5th column
col.insert(5,'genus')
del col[-1]

In [17]:
# Extract new data2frame
df3 = pd.DataFrame(plants, columns=col)
df3.head()

,old Plant family,new,cf?,new Plant family,Plant species with new names merged,genus,Lepidoptera,Lep species,lep species codes,Plant species old name,...,"tree, shrub, climber, creeper, liana, herb,parasite",Minimum altitude,Maximum altitude,K sector,UKWF area,leaf type,compound leaf type,leaf(let) margin,leaf arrangement,Region collected
0,Malvaceae,NaN,NaN,Malvaceae,Abutilon hirtum (Lam.) Sweet,NaN,NaN,NaN,NaN,Abutilon hirtum (Lam.) Sweet,...,"herb,shrub",1.0,1350.0,"1,2,3,4,6,7",NaN,simple,NaN,"crenate,serrate",alternate,nomi
1,Malvaceae,NaN,NaN,Malvaceae,Abutilon mauritianum (Jacq.) Medic. sensu lato,NaN,1.0,NaN,t,Abutilon mauritianum (Jacq.) Medic. sensu lato,...,"herb,shrub",1.0,2050.0,"1,3,4,5,7",NaN,simple,NaN,"serrate,crenate",alternate,"cehi,co"
2,Euphorbiaceae,NaN,NaN,Euphorbiaceae,Acalypha neptunica Müll. Arg.,NaN,NaN,NaN,NaN,Acalypha neptunica Müll. Arg.,...,"shrub,tree",1.0,1800.0,"3,4,5,6,7",NaN,simple,NaN,serrate,alternate,co
3,Acanthaceae,2,NaN,Acanthaceae,Acanthopale pubescens (Engl.) C.B. Clarke,NaN,1.0,Cosmetra taitana,TCos_taita,Acanthopale pubescens (Engl.) C.B.Cl.,...,"shrub,herb",1550.0,2700.0,"1,3,4,5,6,7",NaN,simple,NaN,entire,opposite,cohi
4,Acanthaceae,NaN,NaN,Acanthaceae,Acanthus eminens C. B. Clarke,NaN,1.0,Endothenia ator,TEndoth_ator,Acanthus eminens C. B. Clarke,...,"herb,shrub",1500.0,2650.0,"2,3,4,5,6",NaN,simple,NaN,spiny,opposite,wehi

In [18]:
df3['species name'] = df3['Plant species with new names merged'].apply(lambda x: ' '.join(x.split()[1:]))
# df['species name']
col1=df3.columns.to_list()
del col1[-1]

In [19]:
df3.head()

,old Plant family,new,cf?,new Plant family,Plant species with new names merged,genus,Lepidoptera,Lep species,lep species codes,Plant species old name,...,Minimum altitude,Maximum altitude,K sector,UKWF area,leaf type,compound leaf type,leaf(let) margin,leaf arrangement,Region collected,species name
0,Malvaceae,NaN,NaN,Malvaceae,Abutilon hirtum (Lam.) Sweet,NaN,NaN,NaN,NaN,Abutilon hirtum (Lam.) Sweet,...,1.0,1350.0,"1,2,3,4,6,7",NaN,simple,NaN,"crenate,serrate",alternate,nomi,hirtum (Lam.) Sweet
1,Malvaceae,NaN,NaN,Malvaceae,Abutilon mauritianum (Jacq.) Medic. sensu lato,NaN,1.0,NaN,t,Abutilon mauritianum (Jacq.) Medic. sensu lato,...,1.0,2050.0,"1,3,4,5,7",NaN,simple,NaN,"serrate,crenate",alternate,"cehi,co",mauritianum (Jacq.) Medic. sensu lato
2,Euphorbiaceae,NaN,NaN,Euphorbiaceae,Acalypha neptunica Müll. Arg.,NaN,NaN,NaN,NaN,Acalypha neptunica Müll. Arg.,...,1.0,1800.0,"3,4,5,6,7",NaN,simple,NaN,serrate,alternate,co,neptunica Müll. Arg.
3,Acanthaceae,2,NaN,Acanthaceae,Acanthopale pubescens (Engl.) C.B. Clarke,NaN,1.0,Cosmetra taitana,TCos_taita,Acanthopale pubescens (Engl.) C.B.Cl.,...,1550.0,2700.0,"1,3,4,5,6,7",NaN,simple,NaN,entire,opposite,cohi,pubescens (Engl.) C.B. Clarke
4,Acanthaceae,NaN,NaN,Acanthaceae,Acanthus eminens C. B. Clarke,NaN,1.0,Endothenia ator,TEndoth_ator,Acanthus eminens C. B. Clarke,...,1500.0,2650.0,"2,3,4,5,6",NaN,simple,NaN,spiny,opposite,wehi,eminens C. B. Clarke

In [20]:
col1.insert(6,'species name')
col1

['old Plant family',
 'new',
 'cf?',
 'new Plant family',
 'Plant species with new names merged',
 'genus',
 'species name',
 'Lepidoptera ',
 'Lep species',
 'lep species codes',
 'Plant species old name',
 'Plant species with new names merged.1',
 'Plant species new name',
 'Fruit photo no. 1',
 'Fruit photo no. 2',
 'Fruit photo no. 3',
 'Fruit photo no. 4',
 'Coleoptera species codes',
 'Lepidoptera',
 'lep species codes.1',
 'Hymenoptera opiine codes',
 'Hymenoptera non-opiine codes',
 'non-tephritid Diptera species codes',
 'Tephritid species codes',
 'Fruit type',
 'Fruit color',
 'Fruit shape',
 'fruit less than 10 mm',
 'fruit 10-15 mm',
 'fruit > 15 <25 mm',
 'fruit >25 mm < 40mm',
 'fruit >40mm',
 'spines, thorns, prickles or spiny leaf margins',
 'latex',
 'woody or herbaceous',
 'tree, shrub, climber, creeper, liana, herb,parasite',
 'Minimum altitude',
 'Maximum altitude',
 'K sector',
 'UKWF area',
 'leaf type',
 'compound leaf type',
 'leaf(let) margin',
 'leaf arrangement',
 'Region collected']

# 2. create plant genera table

# Example of entry
INSERT INTO plant_genera(id,genus_name,family_id)

VALUES (1,'Acanthopale',1),

    (2,'Acanthus',1),
    
    (3,'Crosandra',1)
    
    ON CONFLICT (id) DO NOTHING

# The file was updated and saved as a secondary file named master_file_updated_may_version1.xlsx that we will use for processing and creating of tables

In [21]:
# The file was updated and saved as a secondary file
# df3.save_to_csv("master_file_updated_may_version1.xlsx'")

# Laoding updated file

In [22]:
import pandas as pd
df=pd.read_excel('master_file_updated_may_version1.xlsx')
families_all=list(df['new Plant family'])
genus_all=list(df['genus'])

In [23]:
# families.index("Rhamnaceae")

In [24]:
genus=sorted(list(df['genus'].unique()))
genus[0:5]
families=sorted(list(df['new Plant family'].unique()))
families.index("Rhamnaceae")

97

In [25]:
family_dict={}
for i in range(0,len(families_all)):
    genu=genus_all[i]
    family=families_all[i]
    family_dict[genu]=family

In [26]:
# family_dict

In [27]:
# families_all=list(df['new Plant family'])
genus_all=list(df['genus'])

In [28]:
genus_all.index('Crossandra')
# families=families_all.un
# families=sorted(list(df['new Plant family'].unique()))

212

In [29]:
with open('plant_families.sql','w') as myfile:
    myfile.write("INSERT INTO plant_families(id,family_name)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(families)):
        if i!=len(families)-1:
            myfile.write("    "+"(" + "'"+families[i].strip() + "'"+")"+ ","+"\n")
            # i+=1
        else:
            myfile.write("    "+"(" + "'"+families[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

In [30]:
with open('plant_genera.sql','w') as myfile:
    myfile.write("INSERT INTO plant_genera(genus_name,family_id)" + "\n"+"VALUES "+"\n")
    for index, value in enumerate(genus):
        if index==880:
            print(value)
        # print(value)
        #get the index of the row in file
        # i=genus_all.index(value)
        # get corresponding family name of the plant in row_id i
        g=family_dict.get(value)
        # if g=="Ziziphus":
        #     print(g)
        # get the id of the family in the families list
        family_id=families.index(g)+1
        # print(family_id)
        if index!=len(genus)-1:
            myfile.write("    "+"(" + "'"+value + "'"+ ","+str(family_id)+")"+ ","+"\n")       
        else:
            myfile.write("    "+"("+ "'"+value + "'"+"," +str(family_id)+")"+"\n")

    myfile.write("RETURNING *;")
    # for key, value in enumerate(genus):
    #     #get the index of the row in file
    #     i=genus_all.index(value)
    #     g=families_all[i]
    #     family_id=families.index(g)+1
    #     print(family_id)
families[97]

'Rhamnaceae'

In [31]:
families[66]

'Malvaceae'

In [32]:
df['leaf type'].unique()

array(['simple', 'compound', nan, 'simple ', 'none', 'simple,compound',
       'compound,lobed'], dtype=object)

In [33]:
# #Extract all rows for genus
# genus_all=list(df['genus'])
# #Extract unique fsmilis and genusd names
# genus=sorted(list(df['genus'].unique()))

species_all=df['species name'].to_list()
description=df['description'].to_list()
leaf_type=df['leaf type'].to_list()
# compound=df['compound leaf type'].to_list()
# description=df['description'].to_list()
max_lat=df['Maximum altitude'].to_list()
min_lat=df['Minimum altitude'].to_list()

In [34]:
species_all_name_to_sp=df['Plant species with new names merged'].to_list()
p=[]
for i in species_all_name_to_sp:
    y=i.split()[-1]
    if len(y) <=3:
        if y == "Lye":
            pass
        elif y=="Pax":
            pass
        elif y=="L.":
            p.append(y)
        elif y=="sp.":
            p.append(y)
len(p)

57

# Total numbe of plant records with no duplicates are 873

In [35]:
len(set(species_all_name_to_sp))

873

In [36]:
# with open('plants.sql','w') as myfile:
#     myfile.write("INSERT INTO plants(id, species_name,leaf_type,description,max_latitude,min_latitude,genus_id)" + "\n"+"VALUES "+"\n")
#     for index, value in enumerate(species_all):
#         #get the index of the row in file
#         i=species_all.index(value)
#         species=species_all[i]
#         genus_name=genus_all[i]
#         # print(genus_name)
#         #get the id of the genus from genus list
#         genus_id=genus.index(genus_name)+1
#         #print(genus_id)
#         # # get the id of the family in the families list
#         descrip=description[i]
#         leaf_typ=leaf_type[i]
#         max_latitude=max_lat[i]
#         min_latitude=min_lat[i]
#         #print(descrip)

#         if index!=len(species_all)-1:
#             if len(value)>100:
#                 print(len(value))
#             # names with apostrophees
#             if "'" in value:
#                 pass
#                 # myfile.write(f'    ({str(index+1)},"{value}","{str(leaf_typ)}","{str(descrip)}", "{str(max_latitude)}","{str(min_latitude)}",{str(genus_id)}),\n')       
#             else:
#                 if str(max_latitude)=='nan' and str(min_latitude)=='nan':
#                     myfile.write(f"    ({str(index+1)},'{value}','{str(leaf_typ)}','{str(descrip)}',NULL,NULL,{str(genus_id)}),\n")       
    
#                 elif str(max_latitude)=='nan':
#                     myfile.write(f"    ({str(index+1)},'{value}','{str(leaf_typ)}','{str(descrip)}', NULL,{(min_latitude)},{str(genus_id)}),\n")       
#                 elif str(min_latitude)=='nan':
#                     myfile.write(f"    ({str(index+1)},'{value}','{str(leaf_typ)}','{str(descrip)}', {max_latitude},NULL,{str(genus_id)}),\n")               
#                 else:
#                     myfile.write(f"    ({str(index+1)},'{value}','{str(leaf_typ)}','{str(descrip)}', {max_latitude},{(min_latitude)},{str(genus_id)}),\n")       
 
#                 # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+","+"'"+str(descrip)+"'"+","+"'"+ str(max_latitude)+"'"+","+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+ ","+"\n")       
   
#         else:
#             myfile.write(f"    ({str(index+1)},'{value}','{str(leaf_typ)}','{str(descrip)}', {(max_latitude)},{(min_latitude)},{str(genus_id)})\n")       


#             # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+"'"+str(descrip)+"'"+"'"+str(max_latitude)+"'"+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+"\n")       


#     myfile.write("RETURNING *;")

In [37]:
# # download rbcl and matk sequences and remove gaps
# rbcl_all=df['rbcl'].str.replace("-","").to_list()
# matk_all=df['matk'].str.replace("-","").to_list()

In [38]:
# y=[]
# for i in rbcl_all:
#     if i=="Nan":
#         # print(i)
#         pass
#     else:
#         y.append(i)
# len(y)    
# v=[]
# for i in matk_all:
#     if i=="Nan":
#         # print(i)
#         pass
#     else:
#         v.append(i)
# len(v)

In [39]:
species_all[-1]
# genus_all[797]

'spina-christi (L.) Desf.'

In [40]:
species_all[0:5]

['hirtum (Lam.) Sweet',
 'mauritianum (Jacq.) Medic. sensu lato',
 'neptunica Müll. Arg.',
 'pubescens (Engl.) C.B. Clarke',
 'eminens C. B. Clarke']

In [41]:
genus.index("Abutilon")

2

# Plants table

In [42]:
## REmove duplicate names
with open('plants.sql','w') as myfile:
    myfile.write("INSERT INTO plants(id, species_name,leaf_type,description,max_latitude,min_latitude,genus_id,rbcl,matk)" + "\n"+"VALUES "+"\n")
    for index, value in enumerate(species_all):
        # print(value)       
        #get the index of the row in file
        # i=species_all.index(value)
        if index==0:
            print(f"v {value}")
            print(genus_all[index])
            print(genus.index(genus_all[index])+1)
        species=species_all[index]
        genus_name=genus_all[index]
        # print(genus_name)
        #get the id of the genus from genus list
        genus_id=genus.index(genus_name)+1
        #print(genus_id)
        # # get the id of the family in the families list
        descrip=description[index]
        leaf_typ=leaf_type[index]
        max_latitude=max_lat[index]
        min_latitude=min_lat[index]
        #print(descrip)
        # rbcl=rbcl_all[index]
        # matk=matk_all[index]

        if index!=len(species_all)-1:
            # if len(value)>100:
            #     print(len(value))
            # names with apostrophees
            if "'" in value:
                if str(max_latitude)=='nan' and str(min_latitude)=='nan':
                    myfile.write(f"    ('{value.split()[0]}','{str(leaf_typ)}','{str(descrip)}',NULL,NULL,{str(genus_id)}),\n")       
                elif str(max_latitude)=='nan':
                    myfile.write(f"    ('{value.split()[0]}','{str(leaf_typ)}','{str(descrip)}',NULL,{str(min_latitude)},{str(genus_id)}),\n")       
                elif str(min_latitude)=='nan':
                    myfile.write(f"    ('{value.split()[0]}','{str(leaf_typ)}','{str(descrip)}', {str(max_latitude)},NULL,{str(genus_id)}),\n")               
                else:
                    myfile.write(f"    ('{value.split()[0]}','{str(leaf_typ)}','{str(descrip)}', {str(max_latitude)},{str(min_latitude)},{str(genus_id)}),\n")       
                # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+","+"'"+str(descrip)+"'"+","+"'"+ str(max_latitude)+"'"+","+"'"+str(min_latitude)+"'"+","+str(genus_id)
                print(value)
                # print(genus_name)
                pass
                # myfile.write(f'    ({str(index+1)},"{value}","{str(leaf_typ)}","{str(descrip)}", "{str(max_latitude)}","{str(min_latitude)}",{str(genus_id)}),\n')       
            else:
                if str(max_latitude)=='nan' and str(min_latitude)=='nan':
                    myfile.write(f"    ('{value}','{str(leaf_typ)}','{str(descrip)}',NULL,NULL,{str(genus_id)}),\n")       
                elif str(max_latitude)=='nan':
                    myfile.write(f"    ('{value}','{str(leaf_typ)}','{str(descrip)}',NULL,{str(min_latitude)},{str(genus_id)}),\n")       
                elif str(min_latitude)=='nan':
                    myfile.write(f"    ('{value}','{str(leaf_typ)}','{str(descrip)}', {str(max_latitude)},NULL,{str(genus_id)}),\n")               
                else:
                    myfile.write(f"    ('{value}','{str(leaf_typ)}','{str(descrip)}', {str(max_latitude)},{str(min_latitude)},{str(genus_id)}),\n")       
                # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+","+"'"+str(descrip)+"'"+","+"'"+ str(max_latitude)+"'"+","+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+ ","+"\n")       

        else:
            myfile.write(f"    ('{value}','{str(leaf_typ)}','{str(descrip)}', {str(max_latitude)},{str(min_latitude)},{str(genus_id)})\n")       

            # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+"'"+str(descrip)+"'"+"'"+str(max_latitude)+"'"+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+"\n")       


    myfile.write("RETURNING *;")

v hirtum (Lam.) Sweet
Abutilon
3
dodecandra L'Hér.
prinoides L'Hér.

In [43]:
all_insec_species=insects["SPECIES"].to_list()
all_insec_genus=insects["GENUS"].to_list()

not_sp=[]
for i in all_insec_species:
    g=str(i).split(" ")[0]
    if len(g)<=4:
        not_sp.append(g)
len(not_sp)

402

In [44]:
genus[349]

'Rhizophora'

In [45]:
name=[]
for key, value in enumerate(all_insec_genus):
    # print(value)
    name.append(str(value)+ " "+ str(all_insec_species[key]))
    # name.append(str(value)} {all_insec_species[key]})
len(name)

595

# loading insects records

In [46]:
insects_df=pd.read_excel('Insect codes with names.xls')
insects_df.head()

,ID,Image code1,image code 2,image code 3,image code 4,ORDER,FAMILY,SUBFAMILY,TRIBE,GENUS,SUBGENUS,SPECIES,images and data entered in Access tables?,coll. #,Unnamed: 14,Unnamed: 15
0,Aga,NaN,NaN,NaN,NaN,Hymenoptera,Braconidae,Agathidinae,NaN,Agathis,NaN,sp.,NaN,NaN,NaN,NaN
1,agat,NaN,NaN,NaN,NaN,Hymenoptera,Braconidae,Agathidinae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alcsp,NaN,NaN,NaN,NaN,Coleoptera,Curculionidae,Molytinae,Mecysolobini,Alcidodes,NaN,sp.,NaN,NaN,NaN,NaN
3,Ale,NaN,NaN,NaN,NaN,Hymenoptera,Braconidae,Rogadinae,NaN,Aleiodes,NaN,sp.,NaN,NaN,NaN,NaN
4,alti,NaN,NaN,NaN,NaN,Coleoptera,Chrysomelidae,Alticiniae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# Insect records are 595 with no duplicates
print(f"{insects.shape[0]} insects records")

595 insects records

# Insects codes from master file 
1. Lepidoptera Colum

In [48]:
lep=list(df['lep species codes'])
lep_list=[]
for i in lep:
    if ',' in str(i):
        y= i.split(",")
        for v in y:
            lep_list.append(v)
    elif str(i)=='nan':
        pass
    else:
        lep_list.append(i)
lep_set=set(lep_list)
len(set(lep_list))

80

Coleoptera

In [49]:
#Coleoptera
col=list(df['Coleoptera species codes'])
col_list=[]
for i in col:
    if ',' in str(i):
        y= i.split(",")
        for v in y:
            col_list.append(v)
    elif str(i)=='nan':
        pass
    else:
        col_list.append(i)
col_set=set(col_list)
len(set(col_list))

28

In [50]:
len(col_list)

47

# Hymenoptera opiine codes

In [51]:
# Hymenoptera opiine codes
Hym_opine=list(df['Hymenoptera opiine codes'])
Hym_opine_list=[]
for i in Hym_opine:
    if ',' in str(i):
        y= i.split(",")
        for v in y:
            Hym_opine_list.append(v)
    elif str(i)=='nan':
        pass
    else:
        Hym_opine_list.append(i)
Hym_opiine_set=set(Hym_opine_list)
len(Hym_opiine_set)

31

Hymenoptera non opiine codes

In [52]:
# Hymenoptera non opiine codes
hym_nonopiine=list(df['Hymenoptera non-opiine codes'])
hym_nonopiine_list=[]
for i in hym_nonopiine:
    if ',' in str(i):
        y= i.split(",")
        for v in y:
            hym_nonopiine_list.append(v)
    elif str(i)=='nan':
        pass
    else:
        hym_nonopiine_list.append(i)
hym_nonopiine_set=set(hym_nonopiine_list)
len(set(hym_nonopiine_set))

158

In [53]:
# # ALTER TABLE 
# ADD CONSTRAINT plants_genus_id_fkey FOREIGN KEY (genus_id)
# REFERENCES plant_genera(id);
# ALTER TABLE

non-tephritid Diptera species codes

In [54]:
non_tephritid_Diptera=list(df['non-tephritid Diptera species codes'])
non_tephritid_Diptera_list=[]
for i in non_tephritid_Diptera:
    if ',' in str(i):
        y= i.split(",")
        for v in y:
            non_tephritid_Diptera_list.append(v)
    elif str(i)=='nan':
        pass
    else:
        non_tephritid_Diptera_list.append(i)
non_tephritid_Diptera_list_set=set(non_tephritid_Diptera_list)
len(set(non_tephritid_Diptera_list_set))

20

Tephritid species codes

In [55]:
# Tephritid species codes
tephritid=list(df['Tephritid species codes'])
tephritid_list=[]
for i in tephritid:
    if ',' in str(i):
        y= i.split(",")
        for v in y:
            tephritid_list.append(v)
    elif str(i)=='nan':
        pass
    else:
        tephritid_list.append(i)
tephritid_set=set(tephritid_list)
len(set(tephritid_set))

106

# all insects codes

In [56]:
all_insects_1=tephritid_list+non_tephritid_Diptera_list+hym_nonopiine_list+hym_nonopiine_list+lep_list+col_list
len(all_insects_1)

1605

In [57]:
all_insects=list(lep_set)+list(col_set)+list(Hym_opiine_set)+ list(hym_nonopiine_set)+list(non_tephritid_Diptera_list_set)+list(tephritid_set)
len(all_insects)

423

In [58]:
#check insects table only and insevts all
insects_table_only=insects['ID'].to_list()
insects_table_only
all_insects
insects_not_found_in_insects_table=[]
insects_found_in_insects_table=[]

for i in all_insects:
    if i not in insects_table_only:
        # print(i)
        insects_not_found_in_insects_table.append(i)
    else:
        insects_found_in_insects_table.append(i)
print(f'{len(insects_found_in_insects_table)} insect records has associated plant records')
print(f'{len(insects_not_found_in_insects_table)} insect records has no associated plant records')

375 insect records has associated plant records
48 insect records has no associated plant records

In [59]:
mask=insects['images and data entered in Access tables?']=='y'
ins=insects[mask]
ins.shape

(190, 16)

In [60]:
order=list(insects["ORDER"].unique())
order

['Hymenoptera', 'Coleoptera', 'Lepidoptera', 'Diptera', nan]

In [61]:
# df=pd.DataFrame()
# # df['insects']=all_insects
# df['all_insects']=all_insects_1
# df.head()
# df.value_counts()

# Insect Order

In [62]:
g=insects["ID"]
index=0
for i in g:
    pass

with open('insect_orders.sql','w') as myfile:
    myfile.write("INSERT INTO insect_orders(order_name)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(order)):
        if i!=len(order)-1:
            myfile.write("    "+ "("+"'"+str(order[i]) + "'"+")"+ ","+"\n")
            # i+=1
        else:
            myfile.write("    "+"("+ "'"+str(order[i]) + "'"+")"+"\n")

    myfile.write("RETURNING *;")

# Insect families

In [63]:
order_all=list(insects['ORDER'])
family_all=list(insects['FAMILY'])
insect_order=list(insects["ORDER"].unique())
insect_families=list(insects['FAMILY'].unique())
insect_families

with open('insect_families.sql','w') as myfile:
    myfile.write("INSERT INTO insect_families(family_name)" + "\n"+"VALUES "+"\n")
    for index, value in enumerate(insect_families):
        #get the index of the row in file
        row_id=family_all.index(value)
        # get corresponding order name of insect in the row_id
        order=order_all[row_id]
        # get the id of the order in the oder list
        order_id=insect_order.index(order)+1
        # print(family_id)
        if index!=len(insect_families)-1:
            myfile.write("    "+"("+  "'"+str(value) + "'"+")"+ ","+"\n")       
        else:
            myfile.write("    "+"("+ "'"+ str(value) + "'" +")"+"\n")

    myfile.write("RETURNING *;")

# subfamily

In [64]:
family_all=list(insects['FAMILY'])
sub_family_all=list(insects['SUBFAMILY'])
insect_families=list(insects["FAMILY"].unique())
insect_sub_families=list(insects['SUBFAMILY'].unique())
insect_sub_families
# unique_list=[]
with open('insect_sub_families.sql','w') as myfile:
    myfile.write("INSERT INTO insect_sub_families(sub_family_name)" + "\n"+"VALUES "+"\n")
    for index, value in enumerate(insect_sub_families):
        #get the index of the row in file
        row_id=sub_family_all.index(value)
        # get corresponding order name of insect in the row_id
        family=family_all[row_id]
        # get the id of the order in the oder list
        family_id=insect_families.index(family)+1
        if index!=len(insect_sub_families)-1:
            myfile.write("    "+"(" + "'"+str(value) + "'"+")"+ ","+"\n")  
            # unique_list.append(unique)
        else:
            myfile.write("    "+"(" + "'"+ str(value) + "'" +")"+"\n")
            # unique_list.append(unique)

    myfile.write("RETURNING *;")

# insect genera

In [65]:
sub_family_all=list(insects['SUBFAMILY'])
genus_all=list(insects['GENUS'])
insect_sub_families=list(insects["SUBFAMILY"].unique())
insect_genera=list(insects['GENUS'].unique())
insect_genera

with open('insect_genera.sql','w') as myfile:
    myfile.write("INSERT INTO insect_genera(genus_name)" + "\n"+"VALUES "+"\n")
    for index, value in enumerate(insect_genera):
        #get the index of the row in file
        row_id=genus_all.index(value)
        # get corresponding order name of insect in the row_id
        sub_family=sub_family_all[row_id]
        # get the id of the order in the oder list
        sub_family_id=insect_sub_families.index(sub_family)+1
        # print(family_id)
        if index!=len(insect_genera)-1:
            myfile.write("    "+"("+ "'"+str(value) + "'"+")"+ ","+"\n")       
        else:
            myfile.write("    "+"("+ "'"+ str(value) + "'"+")"+"\n")

    myfile.write("RETURNING *;")

# Insect species

In [66]:
insects_all=list(insects['SPECIES'])
photos=pd.read_excel("../Project-data/insect codes and image numbers.xls")
unique=list(insects['ID'])

In [67]:
insect_photos=list(photos['taxon code'])
sex_list=list(photos['sex in photo'])
photo_name=list(photos['photo number'])
for i in insect_photos:
    if i in insects_all:
        print(i)

# Insect photos

In [68]:
insect_photos=list(photos['taxon code'])

## REmove duplicate names
with open('insect_photos.sql','w') as myfile:
    myfile.write("INSERT INTO insect_photos(insect_id, photo_id,sex)" + "\n"+"VALUES "+"\n")
    for index, value in enumerate(insect_photos):
        if value in unique:
            # print(value) 
            # print(value)       
            #get the index of the row in file
            # row_id=insect_photos.index(value)
            taxon=insect_photos[index]
            photo=photo_name[index]
            taxon_id=unique.index(taxon)+1
            sex=sex_list[index]
            if index!=len(insect_photos)-1:
                myfile.write(f"    ({str(taxon_id)},'{str(photo)}','{sex}'),\n")       
                    # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+","+"'"+str(descrip)+"'"+","+"'"+ str(max_latitude)+"'"+","+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+ ","+"\n")       

            else:
                myfile.write(f"    ({str(taxon_id+1)},'{str(photo)}','{sex}')\n")       
            # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+"'"+str(descrip)+"'"+"'"+str(max_latitude)+"'"+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+"\n")       
    myfile.write("RETURNING *;")
    # else:
    #         pass
    #     # print(i)

# Insects table

In [69]:
## REmove duplicate names
with open('insects.sql','w') as myfile:
    myfile.write("INSERT INTO insects(unique_code,species_name,genus_id,sub_family_id,family_id,order_id)" + "\n"+"VALUES "+"\n")
    for index, value in enumerate(insects_all):
        # print(value)       
        #get the index of the row in file
        row_id=insects_all.index(value)
        # print(row_id)
        species=insects_all[index]
        # print(species)
        genus_name=genus_all[index]
        # print(genus_name)
        #get the id of the genus from genus list
        genus_id=insect_genera.index(genus_name)+1
        # print(genus_id)
        #get family id
        family_name=family_all[index]
        family_id=insect_families.index(family_name)+1
        # print(f" family id {family_id}")
        # get sub_family_id
        sub_family=sub_family_all[index]
        sub_family_id=insect_sub_families.index(sub_family)+1
        # print(f" sub family id {sub_family_id}")
        # get order id
        order_name=order_all[index]
        order_id=insect_order.index(order_name)+1
        unique_code=unique[index]
        # get sex of the insect
        sex="male"
        #print(genus_id)
        # # get the id of the family in the families list
        #print(descrip)

        if index!=len(insects_all)-1:
            myfile.write(f"    ('{str(unique_code)}','{value}',{str(genus_id)},{sub_family_id},{str(family_id)},{str(order_id)}),\n")       
                # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+","+"'"+str(descrip)+"'"+","+"'"+ str(max_latitude)+"'"+","+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+ ","+"\n")       

        else:
            myfile.write(f"    ('{str(unique_code)}','{value}',{str(genus_id)},{sub_family_id},{str(family_id)},{str(order_id)})\n")       

            # myfile.write("    "+"("+str(index+1)+ "," + "'"+ value + "'" +","+"'"+str(leaf_typ)+"'"+"'"+str(descrip)+"'"+"'"+str(max_latitude)+"'"+"'"+str(min_latitude)+"'"+","+str(genus_id)+")"+"\n")       


    myfile.write("RETURNING *;")

In [70]:
unique.index("t")

476

# plants and insects table

In [71]:
# use plat table to extrat the codes
lep=list(df['lep species codes'])
cole=list(df['Coleoptera species codes'])
hym_opiinae=list(df['Hymenoptera opiine codes'])
hym_non_opinae=list(df['Hymenoptera non-opiine codes'])
dip_non_tephritidae=list(df['non-tephritid Diptera species codes'])
dip_tephritidae=list(df['Tephritid species codes'])
plant_insect=[]
# use codes for index
for key,value in enumerate(lep):
    hym_opi=hym_opiinae[key]
    co=cole[key]
    dip_non_teph=dip_non_tephritidae[key]
    dip_teph=dip_tephritidae[key]
    hym_non_opi=hym_non_opinae[key]
    all_insects=f"{value},{hym_opi},{co},{dip_non_teph},{dip_teph},{hym_non_opi}"
    plant_insect.append(all_insects)
    # print(all_insects)
    # print(key)
# plant_insect

In [72]:
species_all=df['species name'].to_list()
# Lepidoptera species
plant_insect=plant_insect

# lep_list=[]
# for i in lep:
#     if ',' in str(i):
#         y= i.split(",")
#         for v in y:
#             lep_list.append(v)
#     elif str(i)=='nan':
#         # print(i)
#         pass
#     else:
#         lep_list.append(i)

unique=list(insects['ID'])       
with open('plants_insects.sql','w') as myfile:
    myfile.write("INSERT INTO plants_insects(plant_id,insect_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            insect=str(plant_insect[i])
            if ',' in str(insect):
                # print(col)
                b=str(insect).split(",")
                v=0
                for j in b:
                    if j not in unique:
                        pass
                    elif type(j)==float:
                        # i+=1
                        # print(j)
                        pass
                    elif str(j)=='nan':
                        pass
                    else:                         
                        # print(j)
                        plant_id=i+1
                        # print(plant_id)
                        s_type=unique.index(j)+1

                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                        
               

            else:
                if str(insect)!='nan':
                    # print(insect)
                    plant_id=i+1
                    if str(insect) not in unique:
                        pass
                    else:
                        print(i)
                        # print(unique.index(col))
                        myfile.write(" "+"("+str(i+1)+ "," +str(unique.index(insect)) +")"+ ","+"\n")



        else:
            insect=str(plant_insect[i])
            if str(insect) not in unique:
                pass
            elif ',' in str(insect):
                print(insect)
                # print(col)
                b=insect.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=unique.index(j)+1

                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                # i+=1

           
            else:
                plant_id=i+1
                s_type=unique.index(insect)+1

                myfile.write(" "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")


    myfile.write("RETURNING *;")

In [73]:
# lep=list(df['lep species codes'])
# col=list(df['Coleoptera species codes'])
# hym_opiinae=list(df['Hymenoptera opiine codes'])
# hym_non_opinae=list(df['Hymenoptera non-opiine codes'])
# dip_non_tephritidae=list(df['non-tephritid Diptera species codes'])
# dip_tephritidae=list(df['Tephritid species codes'])
# plant_insect=[]
# for key,value in enumerate(lep):
#     hym_opi=hym_opiinae[key]
#     co=col[key]
#     dip_non_teph=dip_non_tephritidae[key]
#     dip_teph=dip_tephritidae[key]
#     hym_non_opi=hym_non_opinae[key]
#     all_insects=f"{value},{hym_opi},{co},{dip_non_teph},{dip_teph},{hym_non_opi}"
#     plant_insect.append(all_insects)
#     # print(type(all_insects))
# # plant_insect

# Insect Regions

In [74]:
regions_all=pd.read_excel("../Project-data/Insects Geographical Distribution.xls")
# regions_all.head()
# Regions of collection of plants from the master excel file and insect distributions
regions = [
    'central mid-altitude',
    'central highlands',
    'eastern',
    'western mid-altitude',
    'western highlands',
    'rift valley',
    'northern lowlands',
    'coastal lowlands',
    'eastern highlands',
    'eastern mid-altitude',
    'coastal highlands',
    'western lowlands',
    'northern highlands',
    'northern mid-altitude',
    'coastal'
]


col=list(regions_all.columns[8:])
df_reg=regions_all[col]
# Loop over each row and extract only values that are not NaN in 'col1'
# regions_r=[]
region_modified={}
with open('insects_regions.sql','w') as myfile:
    myfile.write("INSERT INTO insects_regions(insect_id,region_id)" + "\n"+"VALUES "+"\n")
    for index, row in df_reg.iterrows():
        insect=regions_all['ID'][index]
        reg=row.values
        # print(reg)
        if insect not in unique:
            pass
        else:
            insect_id=unique.index(insect)+1
            for k,v in enumerate(reg):
                if str(v)=='nan':
                    pass
                else:
                    region=' '.join(col[k].lower().replace('\n',' ').split())
                    # print(region.replace('\n',''))
                    region_id=regions.index(region)+1
                    # print(insect_id)
                    myfile.write(" "+"("+str(insect_id)+ "," +str(region_id) +"),"+"\n")

In [75]:
len(insects_all)

595

In [76]:
regions_all.head()

,ID,ORDER,FAMILY,SUBFAMILY,TRIBE,GENUS,SUBGENUS,SPECIES,Central \nhighlands,Central \nmid-altitude,Coastal\nlowlands,Eastern \nHighlands,Eastern \nmid-altitude,Northern \nHighlands,Northern \nmid-altitude,Rift\nValley,Western \nHighlands,Western \nmid-altitude
0,Alucitid1,Lepidoptera,Alucitidae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alucitid2,Lepidoptera,Alucitidae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DanSylsp,Diptera,Anisopodidae,NaN,NaN,Sylvicola,NaN,sp.,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arafas,Coleoptera,Anthribidae,NaN,NaN,Araecerus,NaN,fascicularis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,anthr,Coleoptera,Anthribidae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Stem type

# Reading dataframe

In [77]:
# df=pd.read_excel('updated_master_file_version1.xlsx')
df=pd.read_excel('master_file_updated_may_version1.xlsx')

In [78]:
sum(df['tree, shrub, climber, creeper, liana, herb,parasite'].str.contains("laian"))

nan

In [79]:
stem_type_list=[]
stem_type=list(df['tree, shrub, climber, creeper, liana, herb,parasite'])
for i in stem_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            if v.lower()=="laian":
                # print(v)
                stem_type_list.append("liana")
            else:
                stem_type_list.append(v.lower())

                # print(v)
            stem_type_list.append("liana")
    elif type(i) ==float:
        # stem_type_list.append('unknown')
        pass
    else:
        # if i=="laian":
            # print(i)
        stem_type_list.append(str(i).lower())
set_stem_type_list=set(stem_type_list)
set_stem_type_list
list_stem_type=list(set_stem_type_list)
len(list_stem_type)

8

In [80]:
sum(df['tree, shrub, climber, creeper, liana, herb,parasite'].str.contains('parasite'))

nan

In [81]:
list_stem_type

['trailer', 'herb', 'creeper', 'liana', 'parasite', 'tree', 'shrub', 'climber']

In [82]:
species_all=df['species name'].to_list()

In [83]:
with open('shrub_climbings.sql','w') as myfile:
    myfile.write("INSERT INTO shrub_climbings(id,tree_type)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_stem_type)):
        if i!=len(list_stem_type)-1:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_stem_type[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_stem_type[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

# Plants_shrub_climbings

In [84]:
stem_type=df['tree, shrub, climber, creeper, liana, herb,parasite'].to_list()
list_stem_type=list(set_stem_type_list)
test=[]
v=0
for i in range(0,len(species_all)):
    stem=stem_type[i]
    if ',' in str(stem):
        b=stem.split(",")
        v=0
        for j in b:
            # print(j)
            plant_id=i+1
            s_type=list_stem_type.index(j.lower())+1
            i+=1
            # print(plant_id)
            # print(s_type)
            # break 
            
        
    elif str(stem)=='nan':
        plant_id=i+1
        s_type='nan'
        i+=1
    else:
        plant_id=i+1
        stype='Unknown'
     
        # print(plant_id)
        # print(s_type)
len(test)
# 
del stem_type

In [85]:
stem_type=df['tree, shrub, climber, creeper, liana, herb,parasite'].to_list()
with open('plants_shrub_climbings.sql','w') as myfile:
    myfile.write("INSERT INTO plants_shrub_climbings(plant_id,shrub_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            stem=stem_type[i]
            if ',' in str(stem):
                b=stem.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_stem_type.index(j.lower())+1
            
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                i+=1
        
            elif str(stem)!='nan':
                plant_id=i+1
                s_type=list_stem_type.index(str(stem.lower()))+1
                myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                i+=1
            else:
                pass
#                 if str(stem)=='nan':
#                     plant_id=i+1
#                     s_type=list_stem_type.index('unknown')+1
#                     myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
#                     i+=1
# #         else:
#             if ',' in str(stem):
#                 b=stem.split(",")
#                 v=0
#                 for j in b:
#                     plant_id=i+1
#                     s_type=list_stem_type.index(j.lower())+1
            
#                     myfile.write("    "+"("+str(plant_id)+ "," + "'"+str(s_type) + "'"+")"+"\n")
        else:
            if ',' in str(stem):
                b=stem.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_stem_type.index(j.lower())+1

                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                i+=1

            # elif str(stem)=='nan':
            #     plant_id=i+1
            #     s_type=list_stem_type.index('unknown')+1
            #     myfile.write("    "+"("+str(plant_id)+ "," + str(s_type) +")"+"\n")
            #     i+=1
            else:
                plant_id=i+1
                s_type=list_stem_type.index(j.lower())+1

                myfile.write("    "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")
                i+=1


    myfile.write("RETURNING *;")

# Thorn, priddes or spines

In [86]:
thorns=list(df['spines, thorns, prickles or spiny leaf margins'])
thorns_set=set(thorns)
thorns_set

{'n', 'n,y', nan, 'y', 'y,n'}

In [87]:
spine_type_list=[]
spine_type=list(df['spines, thorns, prickles or spiny leaf margins'])
for i in spine_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            spine_type_list.append(v.lower())
    elif type(i) ==float:
        spine_type_list.append('unknown')
    else:
            spine_type_list.append(str(i).lower())
set_spine_type_list=set(spine_type_list)
set_spine_type_list
list_spine_type=list(set_spine_type_list)
len(list_spine_type)

3

In [88]:
species_all=df['species name'].to_list()

In [89]:
with open('spines_thorns.sql','w') as myfile:
    myfile.write("INSERT INTO spines_thorns(thorn_id,thorns_spines)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_spine_type)):
        if i!=len(list_spine_type)-1:
            if list_spine_type[i].strip()=='y':
                myfile.write("    "+"("+str(i+1)+ "," + "'"+"present" + "'"+")"+ ","+"\n")
                i+=1
            else:
                if list_spine_type[i].strip()=='n':
                    myfile.write("    "+"("+str(i+1)+ "," + "'"+"absent" + "'"+")"+ ","+"\n")
                    i+=1
                else:
                    myfile.write("    "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+ ","+"\n")
                    i+=1
                
        else:
            if list_spine_type[i].strip()=='y':
                myfile.write("    "+"("+str(i+1)+ "," + "'"+"present" + "'"+")"+"\n")

            elif list_spine_type[i].strip()=='n':
                myfile.write("    "+"("+str(i+1)+ "," + "'"+"absent" + "'"+")"+"\n")
            else:
                myfile.write("    "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+"\n")
            

    myfile.write("RETURNING *;")

In [90]:
spine_type=df['spines, thorns, prickles or spiny leaf margins'].to_list()
list_spine_type=list(set_spine_type_list)

In [91]:
with open('plants_spines_thorns.sql','w') as myfile:
    myfile.write("INSERT INTO plants_spines_thorns(plant_id,thorn_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            spine=spine_type[i]
            if ',' in str(spine):
                b=spine.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_spine_type.index(j.lower())+1
            
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                i+=1
        
            elif str(spine)!='nan':
                plant_id=i+1
                s_type=list_spine_type.index(str(spine.lower()))+1
                myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                i+=1
            else:
                if str(spine)=='nan':
                    plant_id=i+1
                    s_type=list_spine_type.index('unknown')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1
#         else:
#             if ',' in str(stem):
#                 b=stem.split(",")
#                 v=0
#                 for j in b:
#                     plant_id=i+1
#                     s_type=list_stem_type.index(j.lower())+1
            
#                     myfile.write("    "+"("+str(plant_id)+ "," + "'"+str(s_type) + "'"+")"+"\n")
        else:
            if ',' in str(spine):
                b=stem.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_spine_type.index(j.lower())+1

                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                i+=1

            elif str(spine)=='nan':
                plant_id=i+1
                s_type=list_spine_type.index('unknown')+1
                myfile.write("    "+"("+str(plant_id)+ "," + str(s_type) +")"+"\n")
                i+=1
            else:
                plant_id=i+1
                s_type=list_spine_type.index(j.lower())+1

                myfile.write("    "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")
                i+=1


    myfile.write("RETURNING *;")

# Woody or harbaceous

In [92]:
woody_herbaceous_type_list=[]
woody_herbaceous_type=list(df['woody or herbaceous'])
for i in woody_herbaceous_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            if v =='n':
                woody_herbaceous_type_list.append('unknown')
            else:
                woody_herbaceous_type_list.append(v.strip().lower())
    elif i =='n':
        woody_herbaceous_type_list.append('unknown')     
    elif type(i) ==float:
        woody_herbaceous_type_list.append('unknown')
    else:
        woody_herbaceous_type_list.append(str(i).strip().lower())
set_woody_herbaceous_type_list=set(woody_herbaceous_type_list)
set_woody_herbaceous_type_list
list_woody_herbaceous_type=list(set_woody_herbaceous_type_list)
len(list_woody_herbaceous_type)

3

In [93]:
list_woody_herbaceous_type

['h', 'w', 'unknown']

In [94]:
with open('woody_herbaceous.sql','w') as myfile:
    myfile.write("INSERT INTO woody_herbaceous(id,)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_woody_herbaceous_type)):
        if i!=len(list_woody_herbaceous_type)-1:
            if list_woody_herbaceous_type[i].lower().strip()=='h':
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"herbaceous" + "'"+")"+ ","+"\n")
                i+=1
            else:
                if list_woody_herbaceous_type[i].lower().strip()=='w':
                    myfile.write(""+ "("+str(i+1)+ "," + "'"+"woody" + "'"+")"+ ","+"\n")
                    i+=1
                else:
                    myfile.write(" "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+ ","+"\n")
                    i+=1
        else:
            if list_woody_herbaceous_type[i].lower().strip()=='h':
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"herbaceous" + "'"+")"+"\n")

            elif list_woody_herbaceous_type[i].lower().strip()=='w':
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"woody" + "'"+")"+"\n")
            else:
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+"\n")
       

    myfile.write("RETURNING *;")

In [95]:
with open('plants_woody_herbaceous_thorns.sql','w') as myfile:
    myfile.write("INSERT INTO plants_woody_herbaceous(plant_id,back_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            woody_herbaceous=woody_herbaceous_type[i]
            if ',' in str(woody_herbaceous).strip():
                b=str(woody_herbaceous).strip().split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_woody_herbaceous_type.index(j.strip().lower())+1
       
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                i+=1

            elif str(woody_herbaceous).strip().lower()!='nan':
                if str(woody_herbaceous).strip().lower()!='n':
                    plant_id=i+1
                    s_type=list_woody_herbaceous_type.index(str(woody_herbaceous.strip().lower()))+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

                elif str(woody_herbaceous).strip().lower()=='n':
                    plant_id=i+1
                    s_type=list_woody_herbaceous_type.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1
            else:
                if str(woody_herbaceous).strip().lower()=='nan' or str(woody_herbaceous).strip().lower()=='nan':
                    plant_id=i+1
                    s_type=list_woody_herbaceous_type.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

        else:
            woody_herbaceous=woody_herbaceous_type[i]
            if ',' in str(woody_herbaceous).strip().lower():
                b=stem.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_woody_herbaceous_type.index(j.strip().lower())+1

                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                i+=1

            elif str(woody_herbaceous).strip()=='nan':
                plant_id=i+1
                s_type=list_woody_herbaceous_type.index('unknown')+1
                myfile.write(" "+"("+str(plant_id)+ "," + str(s_type) +")"+"\n")
                i+=1
            else:
                plant_id=i+1
                s_type=list_woody_herbaceous_type.index(woody_herbaceous.lower())+1

                myfile.write(" "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")
                i+=1


    myfile.write("RETURNING *;")

# Latex

In [96]:
latex_type_list=[]
latex_type=list(df['latex'])
for i in latex_type:
    if ',' in str(i):
        y=str(i).split(",")
        for v in y:
            if v =='n':
                latex_type_list.append('absent')
            if v =='y':
                latex_type_list.append('present')
            if v =='y?':
                latex_type_list.append('present')
            if v =='1':
                latex_type_list.append('present')
            else:
                latex_type_list.append('absent')
    elif i =='n':
        latex_type_list.append('absent')
    elif i =='nn':
        latex_type_list.append('absent')
    elif i =='y':
        latex_type_list.append('present')
    elif i =='y?':
        latex_type_list.append('present')
    elif i =='1':
        latex_type_list.append('present')   
    elif type(i) ==float:
        latex_type_list.append('unknown')
    else:
        latex_type_list.append('absent')
set_latex_type_list=set(latex_type_list)
set_latex_type_list
list_latex_type=list(set_latex_type_list)
len(list_latex_type)

3

In [97]:
list_latex_type.index('present')+1
list_latex_type.index('absent')+1

2

In [98]:
list_latex_type

['present', 'absent', 'unknown']

In [99]:
with open('plants_latex_thorns.sql','w') as myfile:
    myfile.write("INSERT INTO plants_latex(plant_id,fruit_latex_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        # check if i is nit in the last position
        if i!=len(species_all)-1:
            latex=latex_type[i]
            # print(latex)
            if ',' in str(latex).strip():
                # print(latex)
                # print(plant_id)
                b=str(latex).strip().split(",")
                v=0
                for j in b:
                    if j=='y':
                        plant_id=i+1
                        s_type=list_latex_type.index('present')+1
                        # print(s_type)
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                        # i+=1
                    elif j=='n':
                        plant_id=i+1
                        s_type=list_latex_type.index('absent')+1
                        # print(s_type)
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                        # i+=1

            elif str(latex).strip().lower()!='nan':
                if str(latex).strip().lower()=='y?':
                    plant_id=i+1
                    s_type=list_latex_type.index('present')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    # i+=1
                elif str(latex).strip().lower()=='y':
                    plant_id=i+1
                    s_type=list_latex_type.index('present')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    # i+=1

                elif str(latex).strip().lower()=='n':
                    plant_id=i+1
                    s_type=list_latex_type.index('absent')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    # i+=1
                elif str(latex).strip().lower()=='nn':
                    plant_id=i+1
                    s_type=list_latex_type.index('absent')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

                elif str(latex).strip().lower()=='1':
                    plant_id=i+1
                    s_type=list_latex_type.index('present')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

                elif str(latex).strip().lower()=='y?':
                    plant_id=i+1
                    s_type=list_latex_type.index('present')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1
            else:
                if str(latex).strip().lower()=='nan' or str(latex).strip().lower()=='nan':
                    plant_id=i+1
                    s_type=list_latex_type.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

        else:
            if i!=len(species_all)-1:
                latex=latex_type[i]
                if ',' in str(latex).strip():
                    b=str(latex).strip().split(",")
                    v=0
                    for j in b:
                        if j=='y':
                            plant_id=i+1
                            s_type=list_latex_type.index('present')+1
                            myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                            i+=1
                        elif j=='n':
                            plant_id=i+1
                            s_type=list_latex_type.index('absent')+1
                            myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                            # i+=1

                elif str(latex).strip().lower()!='nan':
                    if str(latex).strip().lower()=='y?':
                        plant_id=i+1
                        s_type=list_latex_type.index('present')+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                        # i+=1
                    elif str(latex).strip().lower()=='y':
                        plant_id=i+1
                        s_type=list_latex_type.index('present')+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                        # i+=1

                    elif str(latex).strip().lower()=='n':
                        plant_id=i+1
                        s_type=list_latex_type.index('absent')+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                        # i+=1
                    elif str(latex).strip().lower()=='nn':
                        plant_id=i+1
                        s_type=list_latex_type.index('absent')+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                        # i+=1

                    elif str(latex).strip().lower()=='1':
                        plant_id=i+1
                        s_type=list_latex_type.index('present')+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                        # i+=1

                    elif str(latex).strip().lower()=='y?':
                        plant_id=i+1
                        s_type=list_latex_type.index('present')+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                        # i+=1
                else:
                    if str(latex).strip().lower()=='nan' or str(latex).strip().lower()=='nan':
                        plant_id=i+1
                        s_type=list_latex_type.index('unknown')+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                        # i+=1




    myfile.write("RETURNING *;")

In [100]:
with open('latex.sql','w') as myfile:
    myfile.write("INSERT INTO latex(fruit_latex_id,latex_description)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_latex_type)):
        if i!=len(list_latex_type)-1:
            if list_latex_type[i].lower().strip()=='present':
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"pressent" + "'"+")"+ ","+"\n")
                i+=1
            else:
                if list_latex_type[i].lower().strip()=='absent':
                    myfile.write(""+ "("+str(i+1)+ "," + "'"+"absent" + "'"+")"+ ","+"\n")
                    i+=1
                else:
                    myfile.write(" "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+ ","+"\n")
                    i+=1
        else:
            if list_latex_type[i].lower().strip()=='absent':
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"absent" + "'"+")"+"\n")

            elif list_latex_type[i].lower().strip()=='present':
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"present" + "'"+")"+"\n")
            else:
                myfile.write(" "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+"\n")
  

    myfile.write("RETURNING *;")

# Fruiting momths

In [101]:
fruiting_month_type_list=[]
fruiting_month_type=list(df['fruiting months'])
for i in fruiting_month_type:
    if ',' in str(i):
        y=str(i).split(",")
        for v in y:
            if v =='1':
                fruiting_month_type_list.append('JAN')
            if v =='2':
                fruiting_month_type_list.append('FEB')
            if v =='3':
                fruiting_month_type_list.append('MARCH')
            if v =='4':
                fruiting_month_type_list.append('APR')
            if v =='5':
                fruiting_month_type_list.append('MAY')
            if v =='6':
                fruiting_month_type_list.append('JUNE')
            if v =='7':
                fruiting_month_type_list.append('JULY')
            if v =='8':
                fruiting_month_type_list.append('AUG')
            if v =='9':
                fruiting_month_type_list.append('SEP')
            if v =='10':
                fruiting_month_type_list.append('OCT')
            if v =='11':
                fruiting_month_type_list.append('NOV')
            if v =='12':
                fruiting_month_type_list.append('DEC')
            else:
                fruiting_month_type_list.append('unknown')
        if v =='1':
            fruiting_month_type_list.append('JAN')
        if v =='2':
            fruiting_month_type_list.append('FEB')
        if v =='3':
            fruiting_month_type_list.append('MARCH')
        if v =='4':
            fruiting_month_type_list.append('APR')
        if v =='5':
            fruiting_month_type_list.append('MAY')
        if v =='6':
            fruiting_month_type_list.append('JUNE')
        if v =='7':
            fruiting_month_type_list.append('JULY')
        if v =='8':
            fruiting_month_type_list.append('AUG')
        if v =='9':
            fruiting_month_type_list.append('SEP')
        if v =='10':
            fruiting_month_type_list.append('OCT')
        if v =='11':
            fruiting_month_type_list.append('NOV')
        if v =='12':
            fruiting_month_type_list.append('DEC')
    else:
        fruiting_month_type_list.append('unknown')
set_fruiting_month_type_list=set(fruiting_month_type_list)
set_fruiting_month_type_list
list_fruiting_month_type=list(set_fruiting_month_type_list)
len(list_fruiting_month_type)

13

In [102]:
list_fruiting_month_type

['MAY',
 'NOV',
 'DEC',
 'APR',
 'MARCH',
 'JULY',
 'AUG',
 'SEP',
 'unknown',
 'FEB',
 'JUNE',
 'JAN',
 'OCT']

In [103]:
list_fruiting_month_type=['JAN','FEB','MARCH','APR','MAY','JUNE','JULY','AUG','SEP','OCT','NOV','DEC','unknown']

In [104]:
with open('fruiting_months.sql','w') as myfile:
    myfile.write("INSERT INTO fruiting_months(fruiting_month_id,month)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_fruiting_month_type)):
        if i!=len(list_fruiting_month_type)-1:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_fruiting_month_type[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_fruiting_month_type[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

In [105]:
len(species_all)
len(fruiting_month_type)

882

In [106]:
list_fruiting_month_type

['JAN',
 'FEB',
 'MARCH',
 'APR',
 'MAY',
 'JUNE',
 'JULY',
 'AUG',
 'SEP',
 'OCT',
 'NOV',
 'DEC',
 'unknown']

In [107]:
fruiting_month_type=df['fruiting months'].to_list()

In [108]:
list_fruiting_month_type.index('JAN')+1

1

In [109]:
p=[]
with open('plants_fruiting_months.sql','w') as myfile:
    myfile.write("INSERT INTO plants_fruiting_months(plant_id,fruiting_month_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        # print(i)
        if i!=len(species_all)-1:
            stem=fruiting_month_type[i]
            # print(species_all[i])
            if ',' in str(stem):
                # print(stem)
                b=stem.split(",")
                for v in b:
                    # print(b)
                    plant_id=species_all.index(species_all[i])+1

                    if v =='1':
                        plant_id=i+1
                        # print(plant_id)
                        s_type=list_fruiting_month_type.index('JAN')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                        p.append(s_type)
                    elif v =='2':
                        # print(v)
                        s_type=list_fruiting_month_type.index('FEB')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='3':            
                        s_type=list_fruiting_month_type.index('MARCH')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='4':
                        plant_id=i+1
                        s_type=list_fruiting_month_type.index('APR')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='5':
                        s_type=list_fruiting_month_type.index('MAY')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='6':
                        s_type=list_fruiting_month_type.index('JUNE')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='7':
                        s_type=list_fruiting_month_type.index('JULY')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='8':
                        s_type=list_fruiting_month_type.index('AUG')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='9':
                        s_type=list_fruiting_month_type.index('SEP')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='10':
                        s_type=list_fruiting_month_type.index('OCT')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='11':
                        s_type=list_fruiting_month_type.index('NOV')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    elif v =='12':
                        s_type=list_fruiting_month_type.index('DEC')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    else:
                        plant_id=i+1
                        s_type=list_fruiting_month_type.index('unknown')+1
                        myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
            else:
                stem=fruiting_month_type[i]
                plant_id=i+1
                if stem =='1':
                    s_type=list_fruiting_month_type.index('JAN')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                elif stem =='2':
                    s_type=list_fruiting_month_type.index('FEB')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                elif stem =='3':
                    s_type=list_fruiting_month_type.index('MARCH')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                elif stem =='4':
                    s_type=list_fruiting_month_type.index('APR')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                elif stem =='5':
                    s_type=list_fruiting_month_type.index('MAY')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")

                elif stem =='6':
                    s_type=list_fruiting_month_type.index('JUNE')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")

                elif stem =='7':
                    s_type=list_fruiting_month_type.index('JULY')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")

                elif stem =='8':
                    s_type=list_fruiting_month_type.index('AUG')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                elif stem =='9':
                    s_type=list_fruiting_month_type.index('SEP')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")

                elif stem =='10':
                    s_type=list_fruiting_month_type.index('OCT')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                elif stem =='11':
                    s_type=list_fruiting_month_type.index('NOV')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                    s_type=list_fruiting_month_type.index('DEC')+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
        # i+=1
                # else:
                #     plant_id=i+1
                #     s_type=list_fruiting_month_type.index('unknown')+1
                #     myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                #     i+=1
#         else:
#             if ',' in str(stem):
#                 b=stem.split(",")
#                 v=0
#                 for j in b:
#                     plant_id=i+1
#                     s_type=list_stem_type.index(j.lower())+1
            
#                     myfile.write("    "+"("+str(plant_id)+ "," + "'"+str(s_type) + "'"+")"+"\n")
    else:
        stem=fruiting_month_type[i]
        plant_id=i+1
        if stem =='1':
            s_type=list_fruiting_month_type.index('JAN')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
            i+=1
        elif stem =='2':
            s_type=list_fruiting_month_type.index('FEB')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='3':
            s_type=list_fruiting_month_type.index('MARCH')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
            i+=1
        elif stem =='4':
            s_type=list_fruiting_month_type.index('APR')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='5':
            print(stem)
            s_type=list_fruiting_month_type.index('MAY')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ "\n")

        elif stem =='6':
            s_type=list_fruiting_month_type.index('JUNE')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='7':
            s_type=list_fruiting_month_type.index('JULY')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='8':
            s_type=list_fruiting_month_type.index('AUG')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='9':
            s_type=list_fruiting_month_type.index('SEP')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='10':
            s_type=list_fruiting_month_type.index('OCT')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='11':
            s_type=list_fruiting_month_type.index('NOV')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif stem =='12':
            s_type=list_fruiting_month_type.index('DEC')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        else:
            plant_id=i+1
            s_type=list_fruiting_month_type.index('unknown')+1
            myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
    i+=1

    myfile.write("RETURNING *;")

5

In [110]:
# Color

In [111]:
color=[]
color_type=list(df['Fruit color'])
for i in color_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            color.append(v.strip().lower())
    elif type(i) ==float:
        color.append('unknown')
    else:
        color.append(str(i).strip().lower())
set_color_list=set(color)
list_color=list(set_color_list)
len(list_color)

18

In [112]:
color_type[881]

'yellow,brown'

In [113]:
color_type=list(df['Fruit color'])
with open('fruit_colors.sql','w') as myfile:
    myfile.write("INSERT INTO fruit_colors(color_id,color)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_color)):
        if i!=len(list_color)-1:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_color[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_color[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

In [114]:
len(color_type)

882

In [115]:
# with open('plants_fruit_colors.sql','w') as myfile:
#     myfile.write("INSERT INTO woody_herbaceous(plant_id,color_id,)" + "\n"+"VALUES "+"\n")

#     for i in range(0,len(color_type)):
#         if i!=len(color_type)-1:
#             colors=color_type[i]
#             if list_woody_herbaceous_type[i].lower().strip()=='h':
#                 myfile.write(" "+"("+str(i+1)+ "," + "'"+"herbaceous" + "'"+")"+ ","+"\n")
#                 i+=1
#             else:
#                 if list_woody_herbaceous_type[i].lower().strip()=='w':
#                     myfile.write(""+ "("+str(i+1)+ "," + "'"+"woody" + "'"+")"+ ","+"\n")
#                     i+=1
#                 else:
#                     myfile.write(" "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+ ","+"\n")
#                     i+=1
#         else:
#             if list_woody_herbaceous_type[i].lower().strip()=='h':
#                 myfile.write(" "+"("+str(i+1)+ "," + "'"+"herbaceous" + "'"+")"+"\n")

#             elif list_woody_herbaceous_type[i].lower().strip()=='w':
#                 myfile.write(" "+"("+str(i+1)+ "," + "'"+"woody" + "'"+")"+"\n")
#             else:
#                 myfile.write(" "+"("+str(i+1)+ "," + "'"+"unkwown" + "'"+")"+"\n")
       

#     myfile.write("RETURNING *;")

In [116]:
list_color

['white',
 'golden',
 'unknown',
 'black',
 'grey',
 'purple',
 'blue',
 'yelow',
 'greenish-yellow',
 'greenish-brown',
 'red',
 'green',
 'yellow',
 'brown',
 'pink',
 'red brown',
 'white a green',
 'orange']

In [117]:
color_type=df['Fruit color'].to_list()
with open('plants_fruit_colors.sql','w') as myfile:
    myfile.write("INSERT INTO plants_fruit_colors(plant_id,color_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            stem=color_type[i]
            if ',' in str(stem):
                b=stem.split(",")
                for j in b:
                    plant_id=i+1
                    s_type=list_color.index(j.strip().lower())+1
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
            else:
                if str(stem)=='nan':
                    plant_id=i+1
                    s_type=list_color.index('unknown')+1
                    myfile.write("    "+"("+str(plant_id)+ "," + str(s_type) +"),"+"\n")
                else:
                    plant_id=i+1
                    s_type=list_color.index(str(stem).strip().lower())+1

                myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
#         else:

#             plant_id=i+1
#             s_type=list_color.index(j.strip().lower())+1

            # myfile.write("    "+"("+str(plant_id)+ "," + "'"+str(s_type) + "'"+")"+"\n")
    else:
        print(i)
        stem=color_type[i]
        print(stem)
        if ',' in str(stem):
            # print(stem)
            b=stem.split(",")
            v=0
            for j in b:
                plant_id=i+1
                s_type=list_color.index(str(j).strip().lower())+1

                myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif str(stem)=='nan':
            plant_id=i+1
            s_type=list_color.index('unknown')+1
            myfile.write("    "+"("+str(plant_id)+ "," + str(s_type) +")"+"\n")
        else:
            plant_id=i+1
            s_type=list_color.index(str(stem).strip().lower())+1

            myfile.write("    "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")
        i+=1


    myfile.write("RETURNING *;")

881
yellow,brown

In [118]:
color_type[881]

'yellow,brown'

In [119]:
image_list=[]
with open('image_list.txt', 'r') as f:
    contents = f.readlines(
    )
    for i in contents:
        image_list.append(i.replace("\n",""))
image_list [0]

'0001.jpg'

In [120]:
image_list.index("01787.jpg")

765

In [121]:
len(image_list)

2444

# Photos

In [122]:
# extract insect photo colums
species_all=df['species name'].to_list()
photos1=df['Fruit photo no. 1'].to_list()
photos2=df['Fruit photo no. 2'].to_list()
photos3=df['Fruit photo no. 3'].to_list()
photos4=df['Fruit photo no. 4'].to_list()
all_photos=[photos1,photos2,photos3,photos4]
no_photos=[]

with open('plant_photos.sql','w') as myfile:
    b=1
    myfile.write("INSERT INTO plants_photos(plant_id,photo_id,photo_name)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        plant_id=i
        photo_name=[]
        photos=[photos1[i],photos2[i],photos3[i],photos4[i]]
        #get plants with no photos
        l=str(photos).count("nan")
        if l==4:
            no_photos.append(i)
        elif l!= 4:
            all_not_in_original = True
            for photo in photos:
                if len(str(photo)) == 6:
                    photo_value = "0" + str(photo).split('.')[0] + ".jpg"
                    # print(photo_value)
                elif len(str(photo)) == 5:
                    photo_value = "0" + str(photo).split('.')[0] + ".jpg"
                elif len(str(photo)) == 4:
                    photo_value = "00" + str(photo).split('.')[0] + ".jpg"
                elif len(str(photo)) == 3:
                    photo_value = "000" + str(photo).split('.')[0] + ".jpg"
                elif len(str(photo)) == 2:
                    photo_value = "000" + str(photo).split('.')[0] + ".jpg"
                elif len(str(photo)) == 1:
                    photo_value = "0000" + str(photo).split('.')[0] + ".jpg"

                if photo_value in image_list:
                    # print(photo_value)
                    all_not_in_original = False
                    break
            if all_not_in_original:
                no_photos.append(i)
                print(i)
        else:
            pass# else:
         #     print(photos)

            # print(i+1)
        for f in photos:
            # print(f)
            # print(type(str(f)))
            if str(f)=='nan':
                # print(photos)
                pass
            else:
                if  len(str(f))==6:
                    # print(f)
                    k="0"+ str(f).split('.')[0]+ ".jpg"
                    if k in image_list:
                        # print(k)
                        myfile.write("(" +str(i+1)+"," +str(b)+","+"'" + "0"+ str(f).split('.')[0]+ ".jpg"+"'"+"),"+"\n")
                        b+=1
                        # print(photos)
                        # print(k)

                elif  len(str(f))==5:
                    # print(f)
                    k="0"+str(f).split('.')[0]+ ".jpg"
                    # print(k)
                    if k in image_list:
                        myfile.write("(" +str(i+1)+","+str(b)+"," + "'"+"0"+str(f).split('.')[0]+ ".jpg" + "'"+"),"+"\n")
                        b+=1
                    
                elif len(str(f))==4:
                    # print(f)
                    k="00"+str(f).split('.')[0]+ ".jpg"

                    if k in image_list:
                        myfile.write("(" +str(i+1)+"," +str(b)+"," "'"+"00"+str(f).split('.')[0]+ ".jpg" +"'"+"),"+"\n")
                        b+=1
                    
                elif len(str(f))==3:
                    k="000"+str(f).split('.')[0]+ ".jpg"
                    if k in image_list:
                        # print(k)
                        myfile.write("(" +str(i+1)+"," +str(b)+","+"'" +"000"+str(f).split('.')[0]+ ".jpg" +"'"+"),"+"\n")
                        b+=1
                    
                    
                elif len(str(f))==2:
                    k="000"+str(f).split('.')[0]+ ".jpg"
                    if k in image_list:
                        myfile.write("(" +str(i+1)+"," +str(b)+","+"'" +"000"+str(f).split('.')[0]+ ".jpg" +"'"+"),"+"\n")
                        b+=1
                
                elif len(str(f))==1:
                    k="0000"+str(f).split('.')[0]+ ".jpg"
                    if k in image_list:
                        myfile.write("(" +str(i+1)+"," +str(b)+","+"'"+"0000"+str(f).split('.')[0]+ ".jpg"+ "'"+"),"+"\n")
                        b+=1
                 
                # print(f)
        i+=1
        
    myfile.write("RETURNING *;")
        
                    # p_id=i+1
                    # photo=str(k).split(".")[0]
                    # myfile.write("    "+"("+str(plant_id)+ str(b)+"," +photo +")"+"\n")
                    # break

44
53
80
131
185
316
321
348
422
466
607
676
815

In [123]:
genus_all=df['genus'].to_list()

# Plats with no photos

In [124]:
no_photos_plants=[]
for i in no_photos:
    no_photos_plants.append(genus_all[i]+" "+species_all[i])
no_photos_plants

# List of items

# File path

# Open the file in write mode
with open("plants_with_no_photos.txt", 'w') as file:
    # Iterate over the list
    for item in no_photos_plants:
        # Write each item to a new line in the file
        file.write(item + '\n')

In [125]:
no_photo=[]
for i in no_photos:
    no_photo.append(i)
no_photos_plants

# List of items

# File path
import pandas as pd

#Assuming you have a DataFrame called 'df'

#List of indices you want to extract
index_list = no_photo

# Extract rows based on the index list using 'loc'
selected_rows = df.loc[index_list]

# # Alternatively, you can use 'iloc' if the index list contains the positions
# # of the rows rather than their labels
# selected_rows = df.iloc[index_list]
selected_rows.to_excel('plants_with-no_phoos.xlsx', index=False)
selected_rows

,old Plant family,new,cf?,new Plant family,Plant species with new names merged,genus,species name,Lepidoptera,Lep species,lep species codes,...,Minimum altitude,Maximum altitude,K sector,UKWF area,leaf type,compound leaf type,leaf(let) margin,leaf arrangement,Region collected,fruiting months
2,Euphorbiaceae,NaN,NaN,Euphorbiaceae,Acalypha neptunica Müll. Arg.,Acalypha,neptunica Müll. Arg.,NaN,NaN,NaN,...,1.0,1800.0,"3,4,5,6,7",NaN,simple,NaN,serrate,alternate,co,7
3,Acanthaceae,2,NaN,Acanthaceae,Acanthopale pubescens (Engl.) C.B. Clarke,Acanthopale,pubescens (Engl.) C.B. Clarke,1.0,Cosmetra taitana,TCos_taita,...,1550.0,2700.0,"1,3,4,5,6,7",NaN,simple,NaN,entire,opposite,cohi,8
12,Passifloraceae,NaN,NaN,Passifloraceae,Adenia lobata (Jacq.) Engl. ssp. rumicifolia (...,Adenia,lobata (Jacq.) Engl. ssp. rumicifolia (Engl. &...,NaN,NaN,NaN,...,350.0,1800.0,"1,4,5,6,7",NaN,simple,NaN,"lobed,entire",alternate,co,7
20,Loranthaceae,NaN,cf,Loranthaceae,Agelanthus sp.,Agelanthus,sp.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,simple,NaN,entire,opposite,ce,1
21,Loranthaceae,NaN,NaN,Loranthaceae,Agelanthus zizyphifolius (Engl.) Polhill & Wiens,Agelanthus,zizyphifolius (Engl.) Polhill & Wiens,NaN,NaN,NaN,...,1000.0,2590.0,NaN,"hm,ha,hk,mum,rv,nan,emb,mac,kaj",simple,NaN,entire,opposite,cehi,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,Verbenaceae,NaN,NaN,Lamiaceae,Vitex mombassae Vatke,Vitex,mombassae Vatke,NaN,NaN,NaN,...,1.0,450.0,7,NaN,compound,"trifoliolate,imparipinnate",entire,opposite,co,6
860,Verbenaceae,NaN,NaN,Lamiaceae,Vitex payos (Lour.) Merr.,Vitex,payos (Lour.) Merr.,NaN,NaN,NaN,...,1.0,1200.0,"4,7",NaN,compound,imparipinnate,entire,opposite,co,7
861,Verbenaceae,NaN,NaN,Lamiaceae,Vitex schliebenii Moldenke,Vitex,schliebenii Moldenke,NaN,NaN,NaN,...,1.0,300.0,7,NaN,compound,NaN,NaN,opposite,co,7
874,Cucurbitaceae,NaN,NaN,Cucurbitaceae,Zehneria sp.,Zehneria,sp.,NaN,NaN,NaN,...,2330.0,2330.0,NaN,hn,simple,NaN,serrate,alternate,cehi,5
881,Rhamnaceae,NaN,NaN,Rhamnaceae,Ziziphus spina-christi (L.) Desf.,Ziziphus,spina-christi (L.) Desf.,NaN,NaN,NaN,...,300.0,600.0,"1,2,6,7",NaN,simple,NaN,"entire,serrate",alternate,nolo,5

In [126]:
# no_photos

# Fruit shape

In [127]:
shape=[]
shape_type=list(df['Fruit shape'])
for i in shape_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            shape.append(v.strip().lower())
    elif type(i) ==float:
        shape.append('unknown')
    else:
        shape.append(str(i).strip().lower())
set_shape_list=set(shape)
list_shape=list(set_shape_list)
len(list_shape)

47

In [128]:
shape_type=list(df['Fruit shape'])
with open('fruit_shapes.sql','w') as myfile:
    myfile.write("INSERT INTO fruit_shapes(fruit_shape_id,shape)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_shape)):
        if i!=len(list_shape)-1:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_shape[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_shape[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

In [129]:
# WORKING PERFECTLY
shape_type=df['Fruit shape'].to_list()
with open('plants_fruit_shapes.sql','w') as myfile:
    myfile.write("INSERT INTO plants_fruit_shapes(plant_id,fruit_shape_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            stem=shape_type[i]
            # print(stem)
            if ',' in str(stem):
                b=stem.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_shape.index(j.strip().lower())+1
            
                    myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                
            else:
                # print(i)
                if str(stem)=='nan':
                    plant_id=i+1
                    s_type=list_shape.index('unknown')+1
                    myfile.write("    "+"("+str(plant_id)+ "," + str(s_type) +"),"+"\n")
                else:
                    plant_id=i+1
                    s_type=list_shape.index(str(stem).strip().lower())+1

                    myfile.write("    "+"("+str(plant_id)+ ","  +str(s_type) +"),"+"\n")
        # i+=1
            # else:
            #     plant_id=i+1
            #     s_type=list_shape.index('unknown')+1
            #     myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
#         else:

#             plant_id=i+1
#             s_type=list_color.index(j.strip().lower())+1

            # myfile.write("    "+"("+str(plant_id)+ "," + "'"+str(s_type) + "'"+")"+"\n")
    else:
        stem=shape_type[i]

        # print(i)
        if ',' in str(stem):
            b=stem.split(",")
            v=0
            for j in b:
                plant_id=i+1
                s_type=list_shape.index(j.strip().lower())+1

                myfile.write("    "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")

        elif str(stem)=='nan':
            plant_id=i+1
            s_type=list_shape.index('unknown')+1
            myfile.write("    "+"("+str(plant_id)+ "," + str(s_type) +")"+"\n")
        else:
            plant_id=i+1
            s_type=list_shape.index(str(stem).strip().lower())+1

            myfile.write("    "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")
    i+=1


    myfile.write("RETURNING *;")

In [130]:
df.head()

,old Plant family,new,cf?,new Plant family,Plant species with new names merged,genus,species name,Lepidoptera,Lep species,lep species codes,...,Minimum altitude,Maximum altitude,K sector,UKWF area,leaf type,compound leaf type,leaf(let) margin,leaf arrangement,Region collected,fruiting months
0,Malvaceae,NaN,NaN,Malvaceae,Abutilon hirtum (Lam.) Sweet,Abutilon,hirtum (Lam.) Sweet,NaN,NaN,NaN,...,1.0,1350.0,"1,2,3,4,6,7",NaN,simple,NaN,"crenate,serrate",alternate,nomi,1
1,Malvaceae,NaN,NaN,Malvaceae,Abutilon mauritianum (Jacq.) Medic. sensu lato,Abutilon,mauritianum (Jacq.) Medic. sensu lato,1.0,NaN,t,...,1.0,2050.0,"1,3,4,5,7",NaN,simple,NaN,"serrate,crenate",alternate,"cehi,co","8,11"
2,Euphorbiaceae,NaN,NaN,Euphorbiaceae,Acalypha neptunica Müll. Arg.,Acalypha,neptunica Müll. Arg.,NaN,NaN,NaN,...,1.0,1800.0,"3,4,5,6,7",NaN,simple,NaN,serrate,alternate,co,7
3,Acanthaceae,2,NaN,Acanthaceae,Acanthopale pubescens (Engl.) C.B. Clarke,Acanthopale,pubescens (Engl.) C.B. Clarke,1.0,Cosmetra taitana,TCos_taita,...,1550.0,2700.0,"1,3,4,5,6,7",NaN,simple,NaN,entire,opposite,cohi,8
4,Acanthaceae,NaN,NaN,Acanthaceae,Acanthus eminens C. B. Clarke,Acanthus,eminens C. B. Clarke,1.0,Endothenia ator,TEndoth_ator,...,1500.0,2650.0,"2,3,4,5,6",NaN,simple,NaN,spiny,opposite,wehi,2

# Fruit sizes

In [131]:
sizes=list(df.columns[27:32])

In [132]:
sizes=["less than 10 mm","10-15 mm","15-25 mm","25-40mm","more than 40 mm"]
with open('fruit_sizes.sql','w') as myfile:
    myfile.write("INSERT INTO fruit_sizes(id,size)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(sizes)):
        if i!=len(sizes)-1:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+sizes[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+sizes[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

In [133]:
species_all=df['species name'].to_list()
fruit1=df['fruit less than 10 mm'].to_list()
fruit2=df['fruit 10-15 mm'].to_list()
fruit3=df['fruit > 15 <25 mm'].to_list()
fruit4=df['fruit >25 mm < 40mm'].to_list()
fruit5=df['fruit >40mm'].to_list()
with open('plants_fruit_sizes.sql','w') as myfile:
    b=1
    myfile.write("INSERT INTO plants_fruit_sizes(plant_id,fruit_size_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        plant_id=i
        photo_name=[]
        sizes=[fruit1[i],fruit2[i],fruit3[i],fruit4[i],fruit5[i]]
        for key,value in enumerate(sizes):
            # print(type(str(f)))
            if str(value)=='nan':
                pass
            else:
                # print(key)
                myfile.write("(" +str(i+1)+"," + str(key+1) +"),"+"\n")
                b+=1

        i+=1
        
    myfile.write("RETURNING *;")
        
                    # p_id=i+1
                    # photo=str(k).split(".")[0]
                    # myfile.write("    "+"("+str(plant_id)+ str(b)+"," +photo +")"+"\n")
                    # break

# Leaf margin type

In [134]:
leaf_type=df['leaf(let) margin'].to_list()
leaf_type_list=[]
for i in leaf_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            leaf_type_list.append(v.lower().strip())
    elif type(i) ==float:
        leaf_type_list.append('unknown')
    else:
            leaf_type_list.append(str(i).lower().strip())
set_leaf_type_list=set(leaf_type_list)
set_leaf_type_list
list_leaf_margin=list(set_leaf_type_list)
len(list_leaf_margin)
list_margin_leaf_type=list_leaf_margin

In [135]:
with open('leaf_margins.sql','w') as myfile:
    myfile.write("INSERT INTO leaf_margins(leaf_margin_id,type_of_leaf_margin)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_leaf_margin)):
        if i!=len(list_leaf_margin)-1:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_leaf_margin[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("    "+"("+str(i+1)+ "," + "'"+list_leaf_margin[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

In [136]:
margin_leaf_type=df['leaf(let) margin'].to_list()
list_margin_leaf_type=list_leaf_margin
with open('plants_leaf_margins.sql','w') as myfile:
    myfile.write("INSERT INTO plants_leaf_margins(plant_id,leaf_margin_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            margin_leaf=margin_leaf_type[i]
            if ',' in str(margin_leaf).strip():
                b=str(margin_leaf).strip().split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_margin_leaf_type.index(j.strip().lower())+1
  	 
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                i+=1

            elif str(margin_leaf).strip().lower()!='nan':
                if str(margin_leaf).strip().lower()!='n':
                    plant_id=i+1
                    s_type=list_margin_leaf_type.index(str(margin_leaf.strip().lower()))+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

                elif str(margin_leaf).strip().lower()=='n':
                    plant_id=i+1
                    s_type=list_margin_leaf_type.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1
            else:
                if str(margin_leaf).strip().lower()=='nan' or str(margin_leaf).strip().lower()=='nan':
                    plant_id=i+1
                    s_type=list_margin_leaf_type.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

        else:
            margin_leaf=margin_leaf_type[i]
            if ',' in str(margin_leaf).strip().lower():
                b=margin_leaf.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_margin_leaf_type.index(j.strip().lower())+1

                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                i+=1

            elif str(margin_leaf).strip()=='nan':
                plant_id=i+1
                s_type=list_margin_leaf_type.index('unknown')+1
                myfile.write(" "+"("+str(plant_id)+ "," + str(s_type) +")"+"\n")
                i+=1
            else:
                plant_id=i+1
                s_type=list_margin_leaf_type.index(margin_leaf.lower())+1

                myfile.write(" "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")
                i+=1


    myfile.write("RETURNING *;")

# Leaf arrangements

In [137]:
leaf_type=df['leaf arrangement'].to_list()
leaf_type_list=[]
for i in leaf_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            leaf_type_list.append(v.lower().strip())
    elif type(i) ==float:
        leaf_type_list.append('unknown')
    else:
            leaf_type_list.append(str(i).lower().strip())
set_leaf_type_list=set(leaf_type_list)
set_leaf_type_list
list_leaf_arrangement=list(set_leaf_type_list)
len(list_leaf_arrangement)
list_arrangement_leaf_type=list_leaf_arrangement

In [138]:
with open('leaf_arrangements.sql','w') as myfile:
    myfile.write("INSERT INTO leaf_arrangements(leaf_arrangement_id,arrangement)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_leaf_arrangement)):
        if i!=len(list_leaf_arrangement)-1:
            myfile.write("	"+"("+str(i+1)+ "," + "'"+list_leaf_arrangement[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("	"+"("+str(i+1)+ "," + "'"+list_leaf_arrangement[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

# Regions collected

In [139]:
with open('regions.sql','w') as myfile:
    myfile.write("INSERT INTO regions(id,region,latitude,longitude)\nVALUES\n")
    myfile.write("('Central Mid-altitude','0.04626','37.65587'),\n"
                 "('Central Highlands','0.01667','37.07283'),\n"
                 "('Eastern','-1.51667','37.26667'),\n"
                "('Western Mid-altitude','0.46005','34.11169'),\n"
                 "('Western Highlands',' 0.5635','34.56055'),\n"
                 "('Rift Valley','-0.28333','36.06667'),\n"
                 "('Northern Lowlands','-0.45275','39.64601'),\n"
                 "('Coastal Lowlands','4.0435','39.6682'),\n"
                 "('Eastern Highlands','1.01572','35.00622'),\n"
                 "('Eastern Mid-altitude','-1.51667','37.26667'),\n"
                 "('Coastal Highlands','-3.39605','38.55609'),\n"
                 "('Western Lowlands','0.28422','34.75229'),\n"
                "('Northern Highlands','3.5216','39.05472'),\n"
                 "('Northern Mid-altitude','0.4612','39.6401'),\n"
                  "('Coastal','-4.05466','39.66359')\n"

                )
    myfile.write("RETURNING *;")

In [140]:
# Regions of collection of plants from the master excel file and insect distributions
regions = [
    'central mid-altitude',
    'central highlands',
    'eastern',
    'western mid-altitude',
    'western highlands',
    'rift valley',
    'northern lowlands',
    'coastal lowlands',
    'eastern highlands',
    'eastern mid-altitude',
    'coastal highlands',
    'western lowlands',
    'northern highlands',
    'northern mid-altitude',
    'coastal'
]

In [141]:
species_all=df['species name'].to_list()
region__collected=df['Region collected'].to_list()
list_region__collected=regions
with open('plants_regions.sql','w') as myfile:
    myfile.write("INSERT INTO plants_regions(plants_id,region_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            region=region__collected[i]
            if ',' in str(region).strip():
                b=str(region).strip().split(",")
                v=0
                for a in b:
                    if a=='nohi':
                        j="Northern Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="cohi":
                        j="Coastal Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="wehi":
                        j="Coastal"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="ea":
                        j="Eastern"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="co":
                        j="Western Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="rv":
                        j="Rift Valley"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="cemid":
                        j="Central Mid-altitude"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="cehi":
                        j="Central Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="nolo":
                        j="Northern Lowlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="nomi":
                        j="Northern mid-altitude"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                 
                 
                    
                i+=1

            elif str(region).strip().lower()!='nan':
                if str(region).strip().lower()!='n':
                    if str(region)=='nohi':
                        region="Northern Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="cohi":
                        j="Coastal Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="wehi":
                        j="Coastal"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="ea":
                        j="Eastern"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="co":
                        j="Western Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="rv":
                        j="Rift Valley"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="cemid":
                        j="Central Mid-altitude"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="cehi":
                        j="Central Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="nolo":
                        j="Northern Lowlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif str(region)=="nomi":
                        j="Northern mid-altitude"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                 
                 
                    # plant_id=i+1
                    # s_collected=list_region__collected.index(str(region_.strip().lower()))+1
                    # myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+","+"\n")
                    # i+=1

                elif str(region_).strip().lower()=='n':
                    plant_id=i+1
                    s_collected=list_region__collected.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+","+"\n")
                    i+=1
            else:
                if str(region).strip().lower()=='nan' or str(region_).strip().lower()=='nan':
                    # plant_id=i+1
                    # s_collected=list_region__collected.index('unknown')+1
                    # myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+","+"\n")
                    pass
                    i+=1

        else:
            region_=region__collected[i]
            print(region)
            print(region)
            if ',' in str(region_).strip().lower():
                b=str(region).strip().split(",")
                v=0
                for a in b:
                    if a=='nohi':
                        j="Northern Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="cohi":
                        j="Coastal Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="wehi":
                        j="Coastal"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="ea":
                        j="Eastern"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="co":
                        j="Western Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="rv":
                        j="Rift Valley"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="cemid":
                        j="Central Mid-altitude"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="cehi":
                        j="Central Highlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="nolo":
                        j="Northern Lowlands"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                    elif a=="nomi":
                        j="Northern mid-altitude"
                        plant_id=i+1
                        s_collected=list_region__collected.index(j.strip().lower())+1
                        myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                 
                 
                 
            elif str(region).strip()=='nan':
                plant_id=i+1
                s_collected=list_region__collected.index('unknown')+1
                myfile.write(" "+"("+str(plant_id)+ "," + str(s_collected) +")"+"\n")
                i+=1
            else:
                print(region_)
#                 plant_id=i+1
#                 s_collected=list_region__collected.index(region_.lower())+1

#                 myfile.write(" "+"("+str(plant_id)+ ","  +str(s_collected) +")"+"\n")
#                 i+=1
                if str(region)=='nohi':
                    region="Northern Highlands"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="cohi":
                    j="Coastal Highlands"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="wehi":
                    j="Coastal"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="ea":
                    j="Eastern"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="co":
                    j="Western Highlands"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="rv":
                    j="Rift Valley"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="cemid":
                    j="Central Mid-altitude"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="cehi":
                    j="Central Highlands"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif str(region)=="nolo":
                    j="Northern Lowlands"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")
                elif j=="nomi":
                    j="Northern mid-altitude"
                    plant_id=i+1
                    s_collected=list_region__collected.index(j.strip().lower())+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_collected) +")"+ ","+"\n")

                 

    myfile.write("RETURNING *;")

co
co
nolo

# Fruit type

In [142]:
fruit_type=df['Fruit type'].to_list()
fruit_type_list=[]
for i in fruit_type:
    if ',' in str(i):
        y=i.split(",")
        for v in y:
            fruit_type_list.append(v.lower().strip())
    elif type(i) ==float:
        fruit_type_list.append('unknown')
    else:
        fruit_type_list.append(str(i).lower().strip())
set_fruit_type_list=set(fruit_type_list)
set_fruit_type_list
list_fruit_type=list(set_fruit_type_list)
len(list_fruit_type)
list_fruit_type=list_fruit_type
list_fruit_type

['capsule',
 'drupe',
 'fig',
 'carpel',
 'unknown',
 'follicle',
 'fleshy seed',
 'mericarp',
 'pod',
 'nutlet',
 'achene',
 'berry',
 'multiple',
 'syconium',
 'nut',
 'inflated',
 'syncarp',
 'monocarps',
 'etaerio',
 'legume']

In [143]:
with open('fruit_types.sql','w') as myfile:
    myfile.write("INSERT INTO fruit_types(fruit_type_id,type_of_fruit)" + "\n"+"VALUES "+"\n")

    for i in range(0,len(list_fruit_type)):
        if i!=len(list_fruit_type)-1:
            myfile.write("	"+"("+str(i+1)+ "," + "'"+list_fruit_type[i].strip() + "'"+")"+ ","+"\n")
            i+=1
        else:
            myfile.write("	"+"("+str(i+1)+ "," + "'"+list_fruit_type[i].strip() + "'"+")"+"\n")

    myfile.write("RETURNING *;")

In [144]:
fruit_type=df['Fruit type'].to_list()
list_fruit_type=list_fruit_type
with open('plants_fruit_types.sql','w') as myfile:
    myfile.write("INSERT INTO plants_fruit_types(plant_id,fruit_type_id)" + "\n"+"VALUES "+"\n")
    for i in range(0,len(species_all)):
        if i!=len(species_all)-1:
            fruit=fruit_type[i]
            if ',' in str(fruit).strip():
                b=str(fruit).strip().split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_fruit_type.index(j.strip().lower())+1
   
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+ ","+"\n")
                i+=1

            elif str(fruit).strip().lower()!='nan':
                if str(fruit).strip().lower()!='n':
                    plant_id=i+1
                    s_type=list_fruit_type.index(str(fruit.strip().lower()))+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

                elif str(fruit).strip().lower()=='n':
                    plant_id=i+1
                    s_type=list_fruit_type.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1
            else:
                if str(fruit).strip().lower()=='nan' or str(fruit).strip().lower()=='nan':
                    plant_id=i+1
                    s_type=list_fruit_type.index('unknown')+1
                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+","+"\n")
                    i+=1

        else:
            fruit=fruit_type[i]
            if ',' in str(fruit).strip().lower():
                b=fruit.split(",")
                v=0
                for j in b:
                    plant_id=i+1
                    s_type=list_fruit_type.index(j.strip().lower())+1

                    myfile.write(" "+"("+str(plant_id)+ "," +str(s_type) +")"+"\n")
                i+=1

            elif str(fruit).strip()=='nan':
                plant_id=i+1
                s_type=list_fruit_type.index('unknown')+1
                myfile.write(" "+"("+str(plant_id)+ "," + str(s_type) +")"+"\n")
                i+=1
            else:
                plant_id=i+1
                s_type=list_fruit_type.index(fruit.lower())+1

                myfile.write(" "+"("+str(plant_id)+ ","  +str(s_type) +")"+"\n")
                i+=1


    myfile.write("RETURNING *;")

# Barcodes tables
The barcodes were analysed on a separate notebook and migrated into the database as cv files